<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-opener"
    version="1.0.0">

    <name>Opener</name>
    <repo>https://github.com/selerix/cordova-plugin-opener.git</repo>    
    <license>MIT</license>
    <author>Selerix systems</author>
    <description>
      &lt;p&gt;This is a plugin for Cordova 6.1.1+ supporting iOS(>=6.0). It allows to open links in default app.&lt;/p&gt;
    </description>

    <!-- android -->
    <platform name="android">

        <js-module src="www/Opener.js" name="Opener">
            <clobbers target="Opener" /><!-- will be available under window.Opener -->
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Opener" >
                <param name="android-package" value="com.selerix.cordova.plugin.Opener"/>
            </feature>
        </config-file>

        <source-file src="src/android/Opener.java" target-dir="src/com/selerix/cordova/plugin" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/Opener.js" name="Opener">
            <clobbers target="Opener" /><!-- will be available under window.Opener -->
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="Opener">
                <param name="ios-package" value="Opener" />
            </feature>
        </config-file>

        <header-file src="src/ios/Opener.h" />
        <source-file src="src/ios/Opener.m" />
    </platform>

    
</plugin>